body {
  
  
  margin: 0; 
}

nav {
  background-color: #21222A;
  width: 100%;
  color: white;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.nav-item {
margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
}

h1 {
  font-family: Inter;
}

/* MainContent */

footer, #mainContent {
  padding: 1rem;
  color: white;
}

#mainContent {
  background-image: url("../public/images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
  background-color: #282D35;
}

footer {
  background-color: #21222A;
  display: flex;
  justify-content: center;
}

/* contact card  */

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}


/* Things  */
* {
  box-sizing: border-box;
}

#add {
  background-color: #70B85D;
  color: white;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 1.3rem;
}

#add_button {
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  margin-bottom: 20px;
}

#add_button:hover {
  background-color: #FFFEF1;
  color: #2C5E2E;
}

#add_button:focus {
  outline: 0;
}

/* Counter */

.counter {
  display: flex;
  align-items: flex-end;
  background-color: black;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #D9D9D9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #D9D9D9;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
}

/* person card  */
.card {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
  -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card--image {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card--name {
  margin-block: 13px;
  color: #333333;
}

.card--info {
  padding: 10px;
}

.card--favorite {
  width: 25px;
  cursor: pointer;
}

.card--contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

/* boxes  */

.boxes {
  width: 10vw;
  height: 10vh;
  border: 1px solid black;
  display: inline-block;
  margin-right: 2%;
}