body {
  
  
  margin: 0; 
}

nav {
  background-color: #21222A;
  width: 100%;
  color: white;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.nav-item {
margin-right: 2rem;
}

.nav-item:first-child {
  margin-right: auto;
}

h1 {
  font-family: Inter;
}

/* MainContent */

footer, #mainContent {
  padding: 1rem;
  color: white;
}

#mainContent {
  background-image: url("../public/images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
  background-color: #282D35;
}

footer {
  background-color: #21222A;
  display: flex;
  justify-content: center;
}

/* contact card  */

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}


/* misc  */
* {
  box-sizing: border-box;
}

#misc {
  background-color: #70B85D;
  color: white;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-size: 1.3rem;
}

#misc_button {
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  margin-bottom: 20px;
}

#misc_button:hover {
  background-color: #FFFEF1;
  color: #2C5E2E;
}

#misc_button:focus {
  outline: 0;
}